.album-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}
.album{
    width: 300px;
    height: 175px;
    margin: 20px;
    border: 1px solid white;
    overflow: scroll;
    word-wrap: break-word;
}
.explicit{
    color: red;
}